@font-face {
    font-family: 'Determination';
    src: url('/fonts/determination.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height:100%;
    font-family: 'Determination';
    font-size: 20px;
}

#game_textbox {
    padding: 20px;
    background: whitesmoke;
    overflow: auto;
    height: 500px;
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 100px;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}